@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { width: 100%; height:100%; overflow-y:auto; min-height:100% ;
}

body {
	width: 100%;
	height:100%;
	font-family: 'Helvetica';
	background: #000;
	color: #fff;
	font-size: 24px;
	text-align:center;
	letter-spacing:1.4px;

}


.matchInfo{
	width: 35%;
	top: 50%;
	right: 10%;
	float: left;
	position: absolute;
}

.playerone{
	top: 18%;
	left: 6%;
	width: 35%;
	float: left;
	position: absolute;
	
}

.playertwo{
	left: 6%;
	top: 72%;
	width: 35%;
	float: left;
	position: absolute;
	
}

h4{
	color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; width: 35%; right: 10%; float:right; position: absolute;
}
h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; top: 5%;}
label { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); }

.form-group {
	width: 100%;
	margin-bottom: 10px;

  }

.bg {
	/* The image used */
	background-image: url('../images/tennis.jpg');
  
	/* Full height */
	height: 100%; 
	background-color: rgba(6,11,15,255);
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  input {
	display: inline-block;
	width: 95.5%;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
  }

  select {
	display: inline-block;
	width: 100%;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
  }

  button{
	width: 15%;
	height: 5%;
	top: 98%;
	right: 10%;
	float: left;
	position: absolute;
	text-align: center;

  }